@using static Kynhealth.UI.Web.Helpers.NavigationIndicatorHelper;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar-vertical-content perfect-scrollbar scrollbar">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text"> Home</span>

                        </div>
                    </a>

                    <ul class="nav collapse show" id="home" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <div class="d-flex align-items-center">
                                    Landing<span class="badge rounded-pill ml-2 badge-soft-success">New</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#pages" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pages">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-copy"></span></span><span class="nav-link-text"> Patients</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="pages" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Manage Patients</a>
                        </li>


                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#email" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="email">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text"> Notifcations</span><span class="badge rounded-pill ml-2 badge-soft-success">New</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="email" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link" href="email/inbox.html">Inbox</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#e-commerce" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="e-commerce">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-cart-plus"></span></span><span class="nav-link-text"> Organizations</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="e-commerce" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link text-400" href=@Url.Action("Index","Organizations")> Manage Organizations</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="widgets.html">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-poll"></span></span><span class="nav-link-text"> Reports</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#components" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="components">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-puzzle-piece"></span></span><span class="nav-link-text"> Medications</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="components" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link" href="components/accordion.html">Manage Schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="components/accordion.html">Manage Medications</a>
                        </li>

                    </ul>
                </li>

            </ul>
            <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#authentication" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"><span class="fas fa-unlock-alt"></span></span><span class="nav-link-text"> Security</span>
                        </div>
                    </a>
                    <ul class="nav collapse" id="authentication" data-parent="#navbarVerticalCollapse">
                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator" href="#authentication-basic" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication-basic">Users</a>
                            <ul class="nav collapse" id="authentication-basic" data-parent="#authentication">
                                <li class="nav-item">
                                    <a class="nav-link" href="authentication/basic/login.html">Manage Users</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>

        </div>
    }
</div>