@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />


<div class="card mb-3">
    <div class="card-header position-relative min-vh-25 mb-7">
        <div class="bg-holder rounded-lg rounded-bottom-0" style="background-image:url(~/img/generic/4.jpg);">
        </div>
        <!--/.bg-holder-->

        <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="~/img/team/3.jpg" width="200" alt="" /></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="mb-1">
                    @Model.Input.FirstName @Model.Input.LastName <small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="right" title="Verified" data-fa-transform="shrink-4 down-2"></small>
                </h4>
                <h5 class="fs-0 font-weight-normal">Pharmacity at KynHealth Limited</h5>
                <p class="text-500">Lagos, Nigeria</p>
                
                
                <div class="border-dashed-bottom my-4 d-lg-none"></div>
            </div>
            <div class="col pl-2 pl-lg-6">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" disabled />

                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    
                    
                    <div class="col-md-6">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.ProfilePicture" style="width: 100%;"></label>
                            @*@if (Model.Input.ProfilePicture != null)
                            {
                                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                            }
                            else
                            {
                                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                            }*@
                            <input type="file"
                                   accept=".png,.jpg,.jpeg,.gif,.tif"
                                   asp-for="Input.ProfilePicture"
                                   class="form-control"
                                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                        </div>
                    </div>

                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-lg-8 pr-lg-2">
        <div class="card mb-3">
            <div class="card-header bg-light">
                <h5 class="mb-0">Intro</h5>
            </div>
            <div class="card-body text-justify">
                <p class="mb-0 text-1000">Dedicated, passionate, and accomplished Full Stack Developer with 9+ years of progressive experience working as an Independent Contractor for Google and developing and growing my educational social network that helps others learn programming, web design, game development, networking.</p>
                <div class="collapse show" id="profile-intro">
                    <p class="mt-3 text-1000">I’ve acquired a wide depth of knowledge and expertise in using my technical skills in programming, computer science, software development, and mobile app development to developing solutions to help organizations increase productivity, and accelerate business performance. </p>
                   
                </div>
            </div>
            <div class="card-footer bg-light p-0 border-top">
                <button class="btn btn-link btn-block btn-intro-collapse" type="button" data-toggle="collapse" data-target="#profile-intro" aria-expanded="true" aria-controls="profile-intro">Show <span class="less">less<span class="fas fa-chevron-up ml-2 fs--2"></span></span><span class="full">full<span class="fas fa-chevron-down ml-2 fs--2"></span></span></button>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-light d-flex justify-content-between">
                <h5 class="mb-0">Associations</h5><a class="font-sans-serif" href="../pages/associations.html">All Associations</a>
            </div>
            <div class="card-body fs--1">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <div class="d-flex position-relative align-items-center mb-2">
                            <img class="d-flex align-self-center mr-2" src="../assets/img/logos/apple.png" alt="" width="50" />
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Apple</a></h6>
                                <p class="mb-0">3243 associates</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="d-flex position-relative align-items-center mb-2">
                            <img class="d-flex align-self-center mr-2" src="../assets/img/logos/g.png" alt="" width="50" />
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Google</a></h6>
                                <p class="mb-0">34598 associates</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="d-flex position-relative align-items-center mb-2">
                            <img class="d-flex align-self-center mr-2" src="../assets/img/logos/intel.png" alt="" width="50" />
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Intel</a></h6>
                                <p class="mb-0">7652 associates</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="d-flex position-relative align-items-center mb-2">
                            <img class="d-flex align-self-center mr-2" src="../assets/img/logos/nike.png" alt="" width="50" />
                            <div class="flex-1">
                                <h6 class="fs-0 mb-0"><a class="stretched-link" href="#!">Nike</a></h6>
                                <p class="mb-0">765 associates</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header bg-light d-flex justify-content-between">
                <h5 class="mb-0">Activity log</h5><a class="font-sans-serif" href="../pages/activity.html">All logs</a>
            </div>
            <div class="card-body fs--1 p-0">
                <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                    <div class="notification-avatar">
                        <div class="avatar avatar-xl mr-3">
                            <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🎁</span></div>
                        </div>
                    </div>
                    <div class="notification-body">
                        <p class="mb-1"><strong>Jennifer Kent</strong> Congratulated <strong>Anthony Hopkins</strong></p>
                        <span class="notification-time">November 13, 5:00 Am</span>

                    </div>
                </a>

                <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                    <div class="notification-avatar">
                        <div class="avatar avatar-xl mr-3">
                            <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🏷️</span></div>
                        </div>
                    </div>
                    <div class="notification-body">
                        <p class="mb-1"><strong>California Institute of Technology</strong> tagged <strong>Anthony Hopkins</strong> in a post.</p>
                        <span class="notification-time">November 8, 5:00 PM</span>

                    </div>
                </a>

                <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                    <div class="notification-avatar">
                        <div class="avatar avatar-xl mr-3">
                            <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">📋️</span></div>
                        </div>
                    </div>
                    <div class="notification-body">
                        <p class="mb-1"><strong>Anthony Hopkins</strong> joined <strong>Victory day cultural Program</strong> with <strong>Tony Stark</strong></p>
                        <span class="notification-time">November 01, 11:30 AM</span>

                    </div>
                </a>

                <a class="notification border-x-0 border-bottom-0 border-300 rounded-top-0" href="#!">
                    <div class="notification-avatar">
                        <div class="avatar avatar-xl mr-3">
                            <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">📅️</span></div>
                        </div>
                    </div>
                    <div class="notification-body">
                        <p class="mb-1"><strong>Massachusetts Institute of Technology</strong> invited <strong>Anthony Hopkin</strong> to an event</p>
                        <span class="notification-time">October 28, 12:00 PM</span>

                    </div>
                </a>

            </div>
        </div>
        <div class="card mb-3 mb-lg-0">
            <div class="card-header bg-light">
                <h5 class="mb-0">Photos</h5>
            </div>
            <div class="card-body overflow-hidden">
                <div class="row g-0">
                    <div class="col-6 p-1"><a class="glightbox" href="~/img/generic/4.jpg" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="~/img/generic/4.jpg" alt="..." /></a></div>
                    <div class="col-6 p-1"><a class="glightbox" href="~/img/generic/5.jpg" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="~/img/generic/5.jpg" alt="..." /></a></div>
                    <div class="col-4 p-1"><a class="glightbox" href="~/img/gallery/4.jpg" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="~/img/gallery/4.jpg" alt="..." /></a></div>
                    <div class="col-4 p-1"><a class="glightbox" href="~/img/gallery/5.jpg" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="~/img/gallery/5.jpg" alt="..." /></a></div>
                    <div class="col-4 p-1"><a class="glightbox" href="~/img/gallery/3.jpg" data-gallery="gallery1" data-glightbox="data-glightbox"><img class="img-fluid rounded" src="~/img/gallery/3.jpg" alt="..." /></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 pl-lg-2">
        <div class="sticky-sidebar">
            <div class="card mb-3">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Experience</h5>
                </div>
                <div class="card-body fs--1">
                    <div class="d-flex">
                        <a href="#!"> <img class="img-fluid" src="~/img/logos/g.png" alt="" width="56" /></a>
                        <div class="flex-1 position-relative pl-3">
                            <h6 class="fs-0 mb-0">
                                Big Data Engineer<small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="top" title="Verified" data-fa-transform="shrink-4 down-2"></small>
                            </h6>
                            <p class="mb-1"> <a href="#!">Google</a></p>
                            <p class="text-1000 mb-0">Apr 2012 - Present &bull; 6 yrs 9 mos</p>
                            <p class="text-1000 mb-0">California, USA</p>
                            <div class="border-dashed-bottom my-3"></div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a href="#!"> <img class="img-fluid" src="../img/logos/apple.png" alt="" width="56" /></a>
                        <div class="flex-1 position-relative pl-3">
                            <h6 class="fs-0 mb-0">
                                Software Engineer<small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="top" title="Verified" data-fa-transform="shrink-4 down-2"></small>
                            </h6>
                            <p class="mb-1"> <a href="#!">Apple</a></p>
                            <p class="text-1000 mb-0">Jan 2012 - Apr 2012 &bull; 4 mos</p>
                            <p class="text-1000 mb-0">California, USA</p>
                            <div class="border-dashed-bottom my-3"></div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a href="#!"> <img class="img-fluid" src="../img/logos/nike.png" alt="" width="56" /></a>
                        <div class="flex-1 position-relative pl-3">
                            <h6 class="fs-0 mb-0">
                                Mobile App Developer<small class="fas fa-check-circle text-primary ml-1" data-toggle="tooltip" data-placement="top" title="Verified" data-fa-transform="shrink-4 down-2"></small>
                            </h6>
                            <p class="mb-1"> <a href="#!">Nike</a></p>
                            <p class="text-1000 mb-0">Jan 2011 - Apr 2012 &bull; 1 yr 4 mos</p>
                            <p class="text-1000 mb-0">Beaverton, USA</p>
                        </div>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
</div>
<div class="card mt-3">
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
